@import "bourbon";
@import "neat-helpers";

$max-width: 1280px;
$mobile-width: 1024px;
$modular-scale-base: 17px;

$disable-warnings: true;

$fullsize: new-breakpoint(min-width 1920px);
$mobile: new-breakpoint(min-width 1024px);